 body {
   background-color: #1B1C1D;
   color: aliceblue;
   font-family: "Inter", sans-serif;
   /* Using Inter font */
 }

 .container {
   width: 100%;
 }

 .info {
   max-width: 900px;
   width: 90%;
   margin: 0 auto;
   margin-top: 50px;
 }

 @media (max-width: 768px) {
   .info {
     width: 95%;
     /* Adjust width for smaller screens */
     padding: 0 10px;
     /* Add some padding on smaller screens */
   }

   .info h3 {
     font-size: 2rem;
     align-items: flex-start;
   }

   .info p {
     font-size: 1rem;
     /* Adjust paragraph font size */
     width: 100%;
     /* Full width for paragraph */
   }

   .info .flex.justify-between.items-center {
     flex-direction: column;
     /* Stack buttons and delete all on small screens */
     align-items: flex-start;
     gap: 20px;
   }

   .saveshowdata {
    flex-direction: row !important;
    align-items: center !important;
   }

   .saveshowdata .relative > span {
     align-items: center !important;
   }
 }


 .material-icons,
 .material-symbols-outlined,
 .material-icons-outlined {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   line-height: 1;
   letter-spacing: normal;
   text-transform: none;
   display: inline-block;
   white-space: nowrap;
   direction: ltr;
   -webkit-font-feature-settings: 'liga';
   -webkit-font-smoothing: antialiased;
   cursor: pointer;
 }

 .switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
 }

 .switch input {
   opacity: 0;
   width: 0;
   height: 0;
 }

 /* Slider Track */
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   transition: 0.4s;
   border-radius: 34px;
 }

 /* Circle (thumb) */
 .slider:before {
   content: "";
   position: absolute;
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   transition: 0.4s;
   border-radius: 50%;
   z-index: 2;
 }

 /* Icon inside slider */
 .slider::after {
   font-family: "Material Symbols Outlined";
   content: "remove";
   /* minus icon */
   position: absolute;
   font-size: 20px;
   color: #333;
   left: 7px;
   top: 3px;
   transition: 0.4s;
   z-index: 99;
 }

 /* Checked state */
 .switch input:checked+.slider {
   background-color: #A8C7FA;
 }

 .switch input:checked+.slider:before {
   transform: translateX(26px);
   background-color: #0842A0;
 }

 .switch input:checked+.slider::after {
   content: "check";
   /* check icon */
   left: 34px;
   color: white;
   z-index: 999;
 }


 .tooltip-custom {
   position: relative;
   cursor: pointer;
 }

 .tooltip-custom::after {
   content: attr(data-tooltip);
   position: absolute;
   left: 0%;
   top: 120%;
   transform: translateY();
   background-color: #e2e1e1;
   color: #3a3a3a;
   padding: 4px 8px;
   white-space: nowrap;
   font-size: 12px;
   border-radius: 4px;
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.2s;
   margin-left: 8px;
   z-index: 20;
 }

 .tooltip-custom:hover::after {
   opacity: 1;
 }